// VARIABLES
$color-dark:#404040;
$color-light: #ffffff;

$color-overlay-dark: rgba(0,0,0,0.5);
$color-primary: #FCDC4B;
$color-primary-s1: #F3BF0C;

$color-brand-linkedin: #2674B2;
$color-brand-sass: #CD6799;
$color-brand-html5: #E75534;
$color-brand-js: #EA7F39;
$color-brand-bootstrap: #563D7C;

// STYLE DEFINITION
.overlay {
    background-color: $color-overlay-dark;
}

.text-light, .text-light * {
    color: $color-light;
}

.text-primary {
    color: $color-primary!important;
}

.navbar-light {
    background-color: $color-light;

    .nav-link {
        color: $color-dark;
    }
}

.bg-primary {
    background-color: $color-primary!important;
}

.bg-dark {
    background-color: $color-dark;
}