@import "typography";
@import "icons";
@import "colors";
@import "sizes";
@import "components/navbar";
@import "components/footer";
@import "components/buttons";

// STYLE DEFINITION
.banner {
    .container {
        padding-top: $padding-xl;
        padding-bottom: $padding-xl;
    }

    &.banner-primary {
        background-color: $color-primary;  
    }
}

.banner#welcome-banner {
    margin-top: -$navbar-height;
    padding-top: $navbar-height;
    padding-bottom: 0;

    background: url(../../build/img/welcome-banner.jpg) no-repeat top center scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .container .btn {
        margin-top: $padding-lg;
    }

    h1, p {
        line-height: normal;
        margin: 0;
    }
}

.banner#shortcut-banner {
    background: url(../../build/img/shortcut-banner.jpeg) no-repeat center center scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    h2 {
        margin: 0;
    }
}

.icon-quote {
    margin-top: $padding-md;
    margin-bottom: $padding-lg;
    font-size: 40px;
}

.personality-trait {

    .trait-name {
        margin-top: -30px;
        padding: 0 20px;
        display: inline-block;
        width: 100%;

        h5 {
            background-color: $color-primary;
            line-height: 45px;
        }
    }

    .trait-details {
        margin-top: $padding-md;
    }
}

.gallery-grid {

    .gallery-item {
        margin: $padding-md 0;

        .item-container {
            overflow: hidden;
            background-color: $color-font-dark;
        }

        p, h5 {
            color: $color-font-light;
        }
  
        .item-description {
            display: grid;
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            width: 100%;
            padding: $padding-xl;
            opacity: 0;

            transition: 0.8s ease;
        }

        img {
            transition: 0.8s ease;
        }

        &:hover {
            img {
                transform: scale(1.3);
                opacity: 0.5;
            }

            .item-description {
                opacity: 1; 
            }
        }

        @media (max-width: 960px) {
            .item-description {
                padding: $padding-lg;
                
                p, h5 {
                    font-size: 75%;
                }
            }
        }

    }
}