@import "typography";
@import "icons";
@import "colors";
@import "sizes";
@import "components/navbar";
@import "components/footer";
@import "components/buttons";

// STYLE DEFINITION
.banner {
    .container {
        text-align: center;
        padding-top: $padding-xl;
        padding-bottom: $padding-xl;
    }

    &.banner-primary {
        background-color: $color-primary;  
    }
}

.banner#welcome-banner {
    margin-top: -$navbar-height;
    padding-top: $navbar-height;
    padding-bottom: 0;

    background: url(../../build/img/banner.jpg) no-repeat top center scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .container .btn {
        margin-top: $padding-lg;
    }

    h1, p {
        line-height: normal;
        margin: 0;
    }
}
