@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap";
@import "https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap";
@import "https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap";
@import "https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap";
.overlay, .missing-img, .header .header-content, .thumbnail .thumbnail-details {
  background-color: rgba(11, 45, 74, 0.5);
}

.text-light, .gallery-grid .gallery-item .gallery-item-container, .overlay, .missing-img, .header .header-content, .thumbnail .thumbnail-details, .text-light *, .gallery-grid .gallery-item .gallery-item-container *, .overlay *, .missing-img *, .header .header-content *, .thumbnail .thumbnail-details * {
  color: #ffffff;
}

.text-primary {
  color: #FCDC4B !important;
}

.navbar-light {
  background-color: #ffffff;
}
.navbar-light .nav-link {
  color: #0B2D4A;
}

.bg-primary {
  background-color: #FCDC4B !important;
}

.bg-dark, .gallery-grid .gallery-item .gallery-item-container {
  background-color: #0B2D4A;
}

.badge-primary {
  background-color: #FCDC4B !important;
  color: #0B2D4A !important;
}

* {
  font-family: Poppins, sans-serif;
  font-weight: 300;
  color: #0B2D4A;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 32px;
}

h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 32px;
}

h3 {
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 16px;
}

h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 32px;
}

h5 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

p {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 16px;
  font-weight: 300;
}
p.fancy {
  font-size: 22px;
  line-height: 24px;
  font-family: "La Belle Aurore", cursive;
  font-weight: 400;
  margin-top: 4px;
}

.footnote {
  font-size: 12px;
  line-height: 14px;
  color: #2D4A63;
}

a {
  font-weight: 300;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, p:last-child {
  margin-bottom: 0;
}

.overlay, .missing-img, .header .header-content, .thumbnail .thumbnail-details {
  background-color: rgba(11, 45, 74, 0.5);
}

.text-light, .gallery-grid .gallery-item .gallery-item-container, .overlay, .missing-img, .header .header-content, .thumbnail .thumbnail-details, .text-light *, .gallery-grid .gallery-item .gallery-item-container *, .overlay *, .missing-img *, .header .header-content *, .thumbnail .thumbnail-details * {
  color: #ffffff;
}

.text-primary {
  color: #FCDC4B !important;
}

.navbar-light {
  background-color: #ffffff;
}
.navbar-light .nav-link {
  color: #0B2D4A;
}

.bg-primary {
  background-color: #FCDC4B !important;
}

.bg-dark, .gallery-grid .gallery-item .gallery-item-container {
  background-color: #0B2D4A;
}

.badge-primary {
  background-color: #FCDC4B !important;
  color: #0B2D4A !important;
}

.icon-md {
  margin-right: 16px;
}
.icon-md:last-of-type {
  margin-right: 0;
}
.icon-md.fab {
  font-size: 32px;
}

.fab.fa-bootstrap {
  color: #563D7C;
}
.fab.fa-linkedin {
  color: #2674B2;
}
.fab.fa-html5 {
  color: #E75534;
}
.fab.fa-js {
  color: #EA7F39;
}
.fab.fa-sass {
  color: #CD6799;
}

.overlay, .missing-img, .header .header-content, .thumbnail .thumbnail-details {
  background-color: rgba(11, 45, 74, 0.5);
}

.text-light, .gallery-grid .gallery-item .gallery-item-container, .overlay, .missing-img, .header .header-content, .thumbnail .thumbnail-details, .text-light *, .gallery-grid .gallery-item .gallery-item-container *, .overlay *, .missing-img *, .header .header-content *, .thumbnail .thumbnail-details * {
  color: #ffffff;
}

.text-primary {
  color: #FCDC4B !important;
}

.navbar-light {
  background-color: #ffffff;
}
.navbar-light .nav-link {
  color: #0B2D4A;
}

.bg-primary {
  background-color: #FCDC4B !important;
}

.bg-dark, .gallery-grid .gallery-item .gallery-item-container {
  background-color: #0B2D4A;
}

.badge-primary {
  background-color: #FCDC4B !important;
  color: #0B2D4A !important;
}

.overlay, .missing-img, .header .header-content, .thumbnail .thumbnail-details {
  background-color: rgba(11, 45, 74, 0.5);
}

.text-light, .gallery-grid .gallery-item .gallery-item-container, .overlay, .missing-img, .header .header-content, .thumbnail .thumbnail-details, .text-light *, .gallery-grid .gallery-item .gallery-item-container *, .overlay *, .missing-img *, .header .header-content *, .thumbnail .thumbnail-details * {
  color: #ffffff;
}

.text-primary {
  color: #FCDC4B !important;
}

.navbar-light {
  background-color: #ffffff;
}
.navbar-light .nav-link {
  color: #0B2D4A;
}

.bg-primary {
  background-color: #FCDC4B !important;
}

.bg-dark, .gallery-grid .gallery-item .gallery-item-container {
  background-color: #0B2D4A;
}

.badge-primary {
  background-color: #FCDC4B !important;
  color: #0B2D4A !important;
}

.overlay, .missing-img, .header .header-content, .thumbnail .thumbnail-details {
  background-color: rgba(11, 45, 74, 0.5);
}

.text-light, .gallery-grid .gallery-item .gallery-item-container, .overlay, .missing-img, .header .header-content, .thumbnail .thumbnail-details, .text-light *, .gallery-grid .gallery-item .gallery-item-container *, .overlay *, .missing-img *, .header .header-content *, .thumbnail .thumbnail-details * {
  color: #ffffff;
}

.text-primary {
  color: #FCDC4B !important;
}

.navbar-light {
  background-color: #ffffff;
}
.navbar-light .nav-link {
  color: #0B2D4A;
}

.bg-primary {
  background-color: #FCDC4B !important;
}

.bg-dark, .gallery-grid .gallery-item .gallery-item-container {
  background-color: #0B2D4A;
}

.badge-primary {
  background-color: #FCDC4B !important;
  color: #0B2D4A !important;
}

* {
  font-family: Poppins, sans-serif;
  font-weight: 300;
  color: #0B2D4A;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 32px;
}

h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 32px;
}

h3 {
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 16px;
}

h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 32px;
}

h5 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

p {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 16px;
  font-weight: 300;
}
p.fancy {
  font-size: 22px;
  line-height: 24px;
  font-family: "La Belle Aurore", cursive;
  font-weight: 400;
  margin-top: 4px;
}

.footnote {
  font-size: 12px;
  line-height: 14px;
  color: #2D4A63;
}

a {
  font-weight: 300;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, p:last-child {
  margin-bottom: 0;
}

.btn {
  border-radius: 20px;
  line-height: 40px;
  min-width: 128px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0 16px;
  margin-right: 16px;
}
.btn:last-of-type {
  margin-right: 0;
}

.btn-primary {
  background-color: #FCDC4B;
  color: #0B2D4A;
  border: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #F3BF0C !important;
  color: #ffffff;
}

.btn-secondary {
  background-color: transparent;
  color: #FCDC4B;
  border: 3px solid #FCDC4B !important;
  line-height: 34px;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #F3BF0C !important;
  border-color: #F3BF0C !important;
  color: #ffffff;
}

.overlay, .missing-img, .header .header-content, .thumbnail .thumbnail-details {
  background-color: rgba(11, 45, 74, 0.5);
}

.text-light, .gallery-grid .gallery-item .gallery-item-container, .overlay, .missing-img, .header .header-content, .thumbnail .thumbnail-details, .text-light *, .gallery-grid .gallery-item .gallery-item-container *, .overlay *, .missing-img *, .header .header-content *, .thumbnail .thumbnail-details * {
  color: #ffffff;
}

.text-primary {
  color: #FCDC4B !important;
}

.navbar-light {
  background-color: #ffffff;
}
.navbar-light .nav-link {
  color: #0B2D4A;
}

.bg-primary {
  background-color: #FCDC4B !important;
}

.bg-dark, .gallery-grid .gallery-item .gallery-item-container {
  background-color: #0B2D4A;
}

.badge-primary {
  background-color: #FCDC4B !important;
  color: #0B2D4A !important;
}

.overlay, .missing-img, .header .header-content, .thumbnail .thumbnail-details {
  background-color: rgba(11, 45, 74, 0.5);
}

.text-light, .gallery-grid .gallery-item .gallery-item-container, .overlay, .missing-img, .header .header-content, .thumbnail .thumbnail-details, .text-light *, .gallery-grid .gallery-item .gallery-item-container *, .overlay *, .missing-img *, .header .header-content *, .thumbnail .thumbnail-details * {
  color: #ffffff;
}

.text-primary {
  color: #FCDC4B !important;
}

.navbar-light {
  background-color: #ffffff;
}
.navbar-light .nav-link {
  color: #0B2D4A;
}

.bg-primary {
  background-color: #FCDC4B !important;
}

.bg-dark, .gallery-grid .gallery-item .gallery-item-container {
  background-color: #0B2D4A;
}

.badge-primary {
  background-color: #FCDC4B !important;
  color: #0B2D4A !important;
}

.overlay, .missing-img, .header .header-content, .thumbnail .thumbnail-details {
  background-color: rgba(11, 45, 74, 0.5);
}

.text-light, .gallery-grid .gallery-item .gallery-item-container, .overlay, .missing-img, .header .header-content, .thumbnail .thumbnail-details, .text-light *, .gallery-grid .gallery-item .gallery-item-container *, .overlay *, .missing-img *, .header .header-content *, .thumbnail .thumbnail-details * {
  color: #ffffff;
}

.text-primary {
  color: #FCDC4B !important;
}

.navbar-light {
  background-color: #ffffff;
}
.navbar-light .nav-link {
  color: #0B2D4A;
}

.bg-primary {
  background-color: #FCDC4B !important;
}

.bg-dark, .gallery-grid .gallery-item .gallery-item-container {
  background-color: #0B2D4A;
}

.badge-primary {
  background-color: #FCDC4B !important;
  color: #0B2D4A !important;
}

* {
  font-family: Poppins, sans-serif;
  font-weight: 300;
  color: #0B2D4A;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 32px;
}

h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 32px;
}

h3 {
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 16px;
}

h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 32px;
}

h5 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

p {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 16px;
  font-weight: 300;
}
p.fancy {
  font-size: 22px;
  line-height: 24px;
  font-family: "La Belle Aurore", cursive;
  font-weight: 400;
  margin-top: 4px;
}

.footnote {
  font-size: 12px;
  line-height: 14px;
  color: #2D4A63;
}

a {
  font-weight: 300;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, p:last-child {
  margin-bottom: 0;
}

.btn {
  border-radius: 20px;
  line-height: 40px;
  min-width: 128px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0 16px;
  margin-right: 16px;
}
.btn:last-of-type {
  margin-right: 0;
}

.btn-primary {
  background-color: #FCDC4B;
  color: #0B2D4A;
  border: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #F3BF0C !important;
  color: #ffffff;
}

.btn-secondary {
  background-color: transparent;
  color: #FCDC4B;
  border: 3px solid #FCDC4B !important;
  line-height: 34px;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #F3BF0C !important;
  border-color: #F3BF0C !important;
  color: #ffffff;
}

.form-control {
  border-color: #D0DBE4;
  color: #0B2D4A;
  height: 40px;
}
.form-control::placeholder {
  color: #627E97;
}

input.form-control {
  border-radius: 20px;
}

textarea.form-control {
  border-radius: 10px;
}

/*** PAGE STRUCTURE ***/
body.content {
  display: flex;
  flex-flow: column;
  min-height: 100%;
}
body.content main {
  flex: 1;
  overflow: auto;
  margin-top: 64px;
  margin-bottom: 64px;
}

body.article {
  display: flex;
  flex-flow: column;
  min-height: 100%;
}
body.article main {
  flex: 1;
  overflow: auto;
}
body.article main article section {
  margin-top: 64px;
  margin-bottom: 64px;
}
body.article main article section:last-of-type {
  margin-bottom: 128px;
}

footer {
  overflow: hidden;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #ffffff;
  background-color: #0B2D4A;
}
footer .social-media-links {
  list-style: none;
}
footer .social-media-links .social-media-link .fab {
  color: #ffffff;
}
footer .container {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.navbar {
  height: 120px;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #D0DBE4;
}
.navbar .navbar-collapse {
  flex-grow: initial;
}
.navbar .navbar-nav {
  flex-direction: row-reverse;
}
.navbar .container {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
}
.navbar .nav-item .nav-link {
  color: #627E97 !important;
}
.navbar .nav-item.active .nav-link {
  color: #0B2D4A !important;
}
.navbar .nav-item:hover .nav-link {
  color: #0B2D4A !important;
  font-weight: 500;
}

/*** CONTAINERS ***/
.banner .container {
  padding-top: 64px;
  padding-bottom: 64px;
}

.banner#welcome-banner {
  margin-top: -120px;
  padding-top: 120px;
  background: url(../../src/img/welcome-banner.jpg) no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner#shortcut-banner {
  background: url(../../src/img/shortcut-banner.jpeg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.quote-icon {
  margin-top: 16px;
  margin-bottom: 32px;
  font-size: 40px;
}

.fancy.quote-signature {
  margin-top: 64px;
}

.personality-trait .trait-name {
  margin-top: -30px;
  padding: 0 20px;
  display: inline-block;
  width: 100%;
}
.personality-trait .trait-name * {
  background-color: #FCDC4B;
  line-height: 45px;
}
.personality-trait .trait-details {
  margin-top: 16px;
}

.gallery-grid .gallery-item {
  margin: 16px 0;
}
.gallery-grid .gallery-item .gallery-item-container {
  overflow: hidden;
}
.gallery-grid .gallery-item .gallery-item-details {
  display: grid;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 64px;
  text-align: center;
  opacity: 0;
  transition: 0.8s ease;
}
.gallery-grid .gallery-item .gallery-item-img {
  transition: 0.8s ease;
}
.gallery-grid .gallery-item .gallery-item-title {
  margin-bottom: 16px;
}
.gallery-grid .gallery-item:hover .gallery-item-img {
  transform: scale(1.3);
  opacity: 0.5;
}
.gallery-grid .gallery-item:hover .gallery-item-details {
  opacity: 1;
}
@media (max-width: 960px) {
  .gallery-grid .gallery-item .gallery-item-details {
    padding: 32px;
  }
  .gallery-grid .gallery-item .gallery-item-details .gallery-item-title, .gallery-grid .gallery-item .gallery-item-details .gallery-item-description {
    font-size: 75%;
  }
}

.thumbnail-grid {
  padding-left: 32px;
  padding-right: 32px;
}
@media (max-width: 540px) {
  .thumbnail-grid {
    padding: 0;
  }
}
.thumbnail-grid .thumbnail {
  margin-top: 32px;
}
.thumbnail-grid .thumbnail:first-of-type {
  margin-top: 0;
}

.thumbnail {
  display: block;
  position: relative;
}
.thumbnail .thumbnail-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
}
.thumbnail .thumbnail-details .thumbnail-title {
  font-size: 16px;
  margin: 0;
}
.thumbnail .thumbnail-details .thumbnail-badges, .thumbnail .thumbnail-details .thumbnail-description {
  display: none;
}
.thumbnail .thumbnail-details .thumbnail-description {
  margin-bottom: 8px;
}
.thumbnail .thumbnail-details .thumbnail-badges .badge {
  margin-right: 8px;
  margin-bottom: 8px;
}
@media (max-width: 540px) {
  .thumbnail .thumbnail-details .thumbnail-title {
    font-size: 14px;
  }
}
.thumbnail:hover a {
  text-decoration: none;
}
.thumbnail:hover .thumbnail-details {
  height: 100%;
}
.thumbnail:hover .thumbnail-description, .thumbnail:hover .thumbnail-badges {
  display: block;
}
.thumbnail:hover .thumbnail-title {
  font-size: 20px;
  margin-bottom: 16px;
}
@media (max-width: 540px) {
  .thumbnail:hover .thumbnail-title {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .thumbnail:hover .thumbnail-description {
    font-size: 14px;
  }
}
@media (max-width: 540px) {
  .thumbnail:hover .thumbnail-title {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .thumbnail:hover .thumbnail-description {
    font-size: 14px;
  }
}

.header {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header .header-content {
  width: 100%;
  height: 100%;
  padding: 64px 32px;
  text-align: center;
}
.header .header-content .header-title {
  margin-bottom: 16px;
}

#header-apples-and-oranges {
  background-image: url(../../src/img/thumbnails/apples-and-oranges.png);
}

.missing-img {
  border: 1px solid #D0DBE4;
  text-align: center;
  padding: 64px;
  margin-top: 32px;
}
.missing-img img {
  height: 100%;
  max-height: 400px;
}

.missing-img-label {
  display: block;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 32px;
}

/*# sourceMappingURL=stylesheet.css.map */
