// IMPORTS
@import "../icons";
@import "../colors";

// STYLE DEFINITION
footer {
    padding-top: $padding-lg;
    padding-bottom: $padding-lg; 

    .social-media-links {
        list-style: none;

        .social-media-link {
            font-size: $icon-size-md;

            .linkedin, .linkedin i {
                color: $color-brand-linkedin;
            }
        }
    }

    .container {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: $padding-md;
        padding-right: $padding-md;
    }
}