// IMPORTS
@import "../colors";
@import "../sizes";

// VARIABLES
$navbar-height: 120px;

// STYLE DEFINITION
.navbar {
    height: $navbar-height;
    padding: 0;
    margin: 0;

    .container {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: $padding-md;
        padding-right: $padding-md;
    }

    h5, p {
        line-height: normal;
        margin: 0;
    }
}

.navbar-light {
    background-color: $color-light;

    .nav-link {
        color: $color-font-dark;
    }
}

.navbar-collapse {
    flex-grow: initial;
}

.navbar-nav {
    flex-direction: row-reverse;
}