// IMPORTS
@import "colors";
@import "typography";
@import "spacing";

// VARIABLES
$btn-height: 40px;
$btn-min-width: 128px;

// STYLE DEFINITION
.btn {
    border-radius: $btn-height/2;
    
    line-height: $btn-height;
    min-width: $btn-min-width;

    font-weight: $font-weight-xl;
    font-size: $font-size-sm;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    padding: 0 $spacing-md;
    margin-right: $spacing-md;
    &:last-of-type { margin-right: 0; }
}

.btn-primary {
    background-color: $color-primary02;
    color: $color-neutral03;

    border: none;

    &:hover, &:focus, &:active {
        background-color: $color-primary03!important;
        color: $color-light01;
    }
}

.btn-secondary {
    background-color: transparent;
    color: $color-primary02;

    border: $border-width solid $color-primary02!important;
    line-height: $btn-height - $border-width*2;

    &:hover, &:focus, &:active {
        background-color: $color-primary03;
        border-color: $color-primary03;
        color: $color-light01;
    }
}