// VARIABLES
$color-neutral03: #0B2D4A;
$color-neutral02: #2D4A63;
$color-neutral01: #627E97;

$color-primary03: #F3BF0C;
$color-primary02: #FCDC4B;
$color-primary01: #FFFFCA;

$color-light03: #95B1CA;
$color-light02: #D0DBE4;
$color-light01: #ffffff;

$color-overlay-dark: rgba(11, 45, 74, 0.5);

$color-brand-linkedin: #2674B2;
$color-brand-sass: #CD6799;
$color-brand-html5: #E75534;
$color-brand-js: #EA7F39;
$color-brand-bootstrap: #563D7C;

// STYLE DEFINITION
.overlay {
    background-color: $color-overlay-dark;
    @extend .text-light;
}

.text-light, .text-light * {
    color: $color-light01;
}

.text-primary {
    color: $color-primary02!important;
}

.navbar-light {
    background-color: $color-light01;

    .nav-link {
        color: $color-neutral03;
    }
}

.bg-primary {
    background-color: $color-primary02!important;
}

.bg-dark {
    background-color: $color-neutral03;
}

.badge-primary {
    background-color: $color-primary02!important;
    color: $color-neutral03!important;
}