// IMPORTS
@import "spacing";
@import "colors";

// VARIABLES
$icon-size-md: 32px;

// STYLE DEFINITION
.icon-md {
    margin-right: $spacing-md;
    &:last-of-type { margin-right:  0; }

    &.fab { font-size: $icon-size-md; }
}

.fab {
    &.fa-bootstrap { color: $color-brand-bootstrap; }
    &.fa-linkedin { color: $color-brand-linkedin; }
    &.fa-html5 { color: $color-brand-html5; }
    &.fa-js { color: $color-brand-js; }
    &.fa-sass { color: $color-brand-sass; }
}