// IMPORTS
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap";
@import "https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap";
@import "colors";
@import "spacing";

// VARIABLES
$font-weight-xl: 600;
$font-weight-lg: 500;
$font-weight-md: 300;
$font-family: Poppins, sans-serif;
$font-size-sm: 14px;

$font-family-fancy: "La Belle Aurore", cursive;
$font-weight-fancy: 400;

$font-size-md: 16px;
$font-size-sm: 14px;

// STYLE DEFINITION
* {
    font-family: $font-family;
    font-weight: $font-weight-md;
    color: $color-neutral03;
}

h1 {
    font-size: 32px;
    font-weight: $font-weight-lg;
    line-height: 36px;
    margin-bottom: $spacing-lg;
}

h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: $font-weight-xl;
    margin-bottom: $spacing-lg;
}

h3 {
    font-size: 22px;
    line-height: 26px;
    font-weight: $font-weight-xl;
    margin-bottom: $spacing-md;
} 

h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: $font-weight-lg;
    margin-bottom: $spacing-lg;
} 

h5 {
    font-size: 18px;
    line-height: 20px;
    font-weight: $font-weight-xl;
    margin-bottom: $spacing-sm;
} 

p {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: $spacing-md;
    font-weight: $font-weight-md;

    &.fancy {
        font-size: 22px;
        line-height: 24px;
        font-family: $font-family-fancy;
        font-weight: $font-weight-fancy;
        margin-top: $spacing-xs;
    }
}

a {
    font-weight: $font-weight-md;
}

h1, h2, h3, h4, h5, p {
    &:last-child { margin-bottom: 0; }
}