@import "typography";
@import "icons";
@import "colors";
@import "spacing";
@import "buttons";
@import "form";

$transition-effect: all 0.8s ease;

/*** PAGE STRUCTURE ***/

// BODY
body.content {
    display: flex;
    flex-flow: column;
    min-height: 100%;

    main {
        flex: 1;
        overflow: auto;
        margin-top: $spacing-xl;
        margin-bottom: $spacing-xl;
    }
}

body.article {
    display: flex;
    flex-flow: column;
    min-height: 100%;

    main {
        flex: 1;
        overflow: auto;

        article {
            section {
                margin-top: $spacing-xl;
                margin-bottom: $spacing-xl;

                &:last-of-type {
                    margin-bottom: $spacing-xl*2;
                }
            } 
        }
    }
}

// FOOTER
footer {
    overflow: hidden;
    padding-top: $spacing-lg;
    padding-bottom: $spacing-lg;

    color: $color-light01;
    background-color: $color-neutral03; 

    .social-media-links {
        list-style: none;

        .social-media-link .fab { color: $color-light01; }
    }

    .container {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: $spacing-md;
        padding-right: $spacing-md;
    }
}

// NAVBAR
$navbar-height: 120px;
.navbar {
    height: $navbar-height;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $color-light02;

    .navbar-collapse { flex-grow: initial; }
    .navbar-nav { flex-direction: row-reverse; }

    .container {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: $spacing-md;
        padding-right: $spacing-md;
    }

    .nav-item {

        .nav-link {
            color: $color-neutral01!important;
        }
    
        &.active .nav-link {
            color: $color-neutral03!important;
        }
        
        &:hover .nav-link{
            color: $color-neutral03!important;
            font-weight: $font-weight-lg;
        }
    }
}

/*** CONTAINERS ***/

// BANNERS
.banner {

    .container {
        padding-top: $spacing-xl;
        padding-bottom: $spacing-xl;
    }
}

.banner#welcome-banner {
    margin-top: -$navbar-height;
    padding-top: $navbar-height;

    background: url(../../src/img/welcome-banner.jpg) no-repeat top center scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner#shortcut-banner {
    background: url(../../src/img/shortcut-banner.jpeg) no-repeat center center scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


// QUOTE
.quote-icon {
    margin-top: $spacing-md;
    margin-bottom: $spacing-lg;
    font-size: 40px;
}
.fancy.quote-signature {
    margin-top: $spacing-xl;
}

// PERSONALITY TRAIT
.personality-trait {

    .trait-name {
        margin-top: -30px;
        padding: 0 20px;
        display: inline-block;
        width: 100%;

        * {
            background-color: $color-primary02;
            line-height: 45px;
        }
    }

    .trait-details {
        margin-top: $spacing-md;
    }
}

// GALLERY
.gallery-grid {

    .gallery-item {
        margin: $spacing-md 0;

        .gallery-item-container {
            overflow: hidden;
            @extend .bg-dark;
            @extend .text-light;
        }
  
        .gallery-item-details {
            display: grid;
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            padding: $spacing-xl;

            text-align: center;

            opacity: 0;
            transition: 0.8s ease;
        }

        .gallery-item-img {
            transition: 0.8s ease;
        }

        .gallery-item-title {
            margin-bottom: $spacing-md;
        }

        &:hover {
            .gallery-item-img {
                transform: scale(1.3);
                opacity: 0.5;
            }

            .gallery-item-details {
                opacity: 1; 
            }
        }

        @media (max-width: 960px) {
            .gallery-item-details {
                padding: $spacing-lg;
                
                .gallery-item-title, .gallery-item-description {
                    font-size: 75%;
                }
            }
        }
    }
}

// THUMBNAIL
.thumbnail-grid {
    padding-left: $spacing-lg;
    padding-right: $spacing-lg;

    @media (max-width: 540px) {
        padding: 0;
    }

    .thumbnail { margin-top: $spacing-lg; }
    .thumbnail:first-of-type { margin-top: 0; }
}

.thumbnail {
    display: block;
    position: relative;

    .thumbnail-details {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        padding: $spacing-md;

        .thumbnail-title {
            font-size: $font-size-md;
            margin: 0;
        }
        .thumbnail-badges, .thumbnail-description { display: none; }

        @extend .overlay;

        .thumbnail-description {
            margin-bottom: $spacing-sm;
        }

        .thumbnail-badges {
            .badge {
                margin-right: $spacing-sm;
                margin-bottom: $spacing-sm;
            }
        }


        @media (max-width: 540px) {
            .thumbnail-title {
                font-size: $font-size-sm;
            }
        }
    }

    &:hover {
        a { text-decoration: none; }
        .thumbnail-details { height: 100%; }
        .thumbnail-description, .thumbnail-badges { display: block; }

        .thumbnail-title {
            font-size: $font-size-xl;
            margin-bottom: $spacing-md;
        }

        @media (max-width: 540px) {
            .thumbnail-title {
                font-size: $font-size-md;
                margin-bottom: $spacing-sm;
            }
            .thumbnail-description {
                font-size: $font-size-sm;}
        }


        @media (max-width: 540px) {
            .thumbnail-title {
                font-size: $font-size-md;
                margin-bottom: $spacing-sm;
            }
            .thumbnail-description {
                font-size: $font-size-sm;
            }
        }
    }
}

// HEADER
.header {
    background-position: center center;
    background-size: cover;   
    background-repeat: no-repeat;
    
    .header-content {
        width: 100%;
        height: 100%;
        @extend .overlay;
        padding: $spacing-xl $spacing-lg;
        text-align: center;

        .header-title {
            margin-bottom: $spacing-md;
        }
    }
}

#header-apples-and-oranges { background-image: url(../../src/img/thumbnails/apples-and-oranges.png); }

// IMAGES
.missing-img {
    border: 1px solid $color-light02;
    @extend .overlay;

    text-align: center;
    padding: $spacing-xl;

    img {
        height: 100%;
        max-height: 400px
    }

    margin-top: $spacing-lg;

}
.missing-img-label{
    display: block;
    text-align: center;
    margin-top: $spacing-sm;
    margin-bottom: $spacing-lg;
}